* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p {
  width: 100%;
  font-size: 3vh;
  text-align: center;
  color: black;
  padding: 20px;
}
main {
  width: 80vw;
  height: 80vh;
  background-color: white;
  position: relative;
}

main:hover .box1 {
  transform: translate(-200%, -100%) rotate(90deg);
}
main:hover .box2 {
  transform: translate(100%, -100%) rotate(-90deg);
}
main:hover .box3 {
  transform: translate(100%) rotate(90deg);
}
main:hover .box4 {
  transform: translate(-200%) rotate(-90deg);
}

.message {
  width: 800px;
  height: 400px;
  background-color: white;
  font-size: 4rem;
  text-align: center;
  padding-top: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boxes {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 1s ease;
}
.box1 {
  background-color: steelblue;
  transform: translate(-100%, -100%);
}

.box2 {
  background-color: dimgray;

  transform: translate(0, -100%);
}
.box3 {
  background-color: rosybrown;
}
.box4 {
  background-color: yellow;

  transform: translate(-100%);
}
